
<section class="hero is-fullheight has-bg-img">
   <div class="hero-head">
   <nav class="navbar">
      <div class="container">
         <div class="navbar-brand">
            <a href="/">
            <img  class="navbar-item" src="https://image.ibb.co/m7RY3y/logo.png"  width="150" height="150">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu"  style=" color: hsl(348, 100%, 61%)">
            <span></span>
            <span></span>
            <span></span>
            </span>
         </div>
         <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-item">
               <% if current_user %>
               <%= link_to '<button type="button" class="button is-warning is-outlined"><span class="icon">
                  <i class="fas fa-music"></i>
                  </span>  &nbsp My Playlists</button>'.html_safe, "playlists" %>
               <% end %>
            </div>
            <div class="navbar-end">
               <div class="navbar-item">
                        <a class="button is-primary is-outlined" href="#contact" data-target="contact">
                        <span class="icon is-small">
                        <i class="fas fa-bell"></i>
                        </span>
                        &nbsp Contact us
                     </a>
               </div>
               <div class="navbar-item">
                  <% if !current_user %>
                  <%= link_to '<button type="button" class="button is-danger is-outlined"><span class="icon">
                     <i class="fab fa-google"></i>
                     </span>  &nbsp Sign in</button>'.html_safe, "/auth/google_oauth2", id: "sign_in" %>
                  <% else %>
                  <%= link_to '<button type="button" class="button is-danger is-outlined">Sign out</button>'.html_safe, signout_path, id: "sign_out" %>
                  <% end %>
               </div>
               <div class="navbar-item">
                  <a class="button is-success is-outlined"  href="https://github.com/I-Mircheva/wonderbang-dj"><span class="icon">
                  <i class="fab fa-github"></i>
                  </span>
                  <span>&nbspGitHub</span></a>
               </div>
            </div>
         </div>
   </nav>
   <% if current_user %>
      <div class="column is-7 is-offset-4">
         <a class="button is-success" style="float: right; margin-right: 15px;">
            <p> Signed in as  <strong><%= current_user.name %></strong>!</p>
            <br>
         </a>
      </div>
   <% end %>
   </div>
   <div class="hero-body">
      <div class="container has-text-centered">
         <div class="column is-6 is-offset-3">
            <h1 class="title is-size-2-desktop has-text-white" style="padding-bottom: 20px">
               Make your own playlist!
            </h1>
            <h2 class="subtitle has-text-white">
               This is the best software platform for aggreagationing songs from different platforms in a single playlist. Come join us!
            </h2>
         </div>
      </div>
   </div>
   <div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="container">
         <a class="button is-primary is-outlined" href="#information">
         <span class="icon is-small">
         <i class="fas fa-angle-double-down"></i>
         </span>
         &nbsp How to use</a>
      </div>
   </div>
   <div class="hero-body" id="information">
      <div class="container has-text-centered">
         <div class="column is-6 is-offset-3">
            <h1 class="title is-size-2-desktop has-text-white" style="padding-bottom: 20px">
               Welcome!
            </h1>
            <h2 class="subtitle has-text-white">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper blandit sapien a commodo. Vivamus a urna lorem. Nunc vitae velit neque. Aliquam luctus, ex a porttitor ultricies, ipsum elit convallis massa, id bibendum neque turpis quis lorem. Sed finibus elit nec libero pharetra malesuada. Fusce pulvinar, urna in blandit luctus, neque risus blandit orci, finibus rutrum magna ipsum id lectus. Integer commodo tortor sit amet condimentum rutrum. Sed eu nunc in neque sagittis dictum quis sit amet nisi. Pellentesque hendrerit arcu nunc, ut dapibus nibh blandit id. Nunc convallis imperdiet eros, eu euismod felis suscipit ac.
               Aenean sed porta mi. Integer turpis nulla, consequat eu velit nec, viverra ullamcorper nisl. Etiam porttitor, ligula id vulputate eleifend, leo nisi scelerisque dolor, quis pellentesque sapien odio quis turpis. Vivamus cursus quam lacinia felis aliquet auctor ac vel ante. Integer eros arcu, placerat eu arcu a, dapibus luctus leo. Sed rhoncus felis sapien, quis venenatis magna scelerisque vel. Praesent molestie orci purus, sit amet eleifend dolor tempus ac.
               Duis congue justo at nisi vehicula, et blandit justo ultricies. Sed dolor ligula, fermentum quis congue a, porttitor nec justo. Aenean lacinia lacus ac ante sollicitudin, sit amet tincidunt odio efficitur. Aenean vel vehicula. 
            </h2>
         </div>
      </div>
   </div>
   <div class="resp-container">
      <iframe  class="resp-iframe"src="https://www.youtube.com/embed/uMK0prafzw0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
   </div>

   <section class="section columns" id="contact">
    <div class="container has-text-centered column is-10 is-offset-1">
      <h2 class="title has-text-light">Contact</h2>
      <form>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Name">
                <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input class="input" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <textarea class="textarea" placeholder="Message us"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary">
                Send message
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <a href="">
          <i class="fab fa-facebook-square fa-2x"></i>
          </a>
          <a href="">
          <i class="fab fa-twitter-square fa-2x"></i>
          </a>
          <a href="">
          <i class="fab fa-instagram fa-2x"></i>
          </a>
          <a href="">
          <i class="fab fa-snapchat fa-2x"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
</section>

<script type="text/javascript">
   (function() {
     var burger = document.querySelector('.burger');
     var nav = document.querySelector('#'+burger.dataset.target);
     burger.addEventListener('click', function(){
       burger.classList.toggle('is-active');
       nav.classList.toggle('is-active');
     });
   })();
</script>