

<!DOCTYPE html>
<html>
   <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116478968-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'UA-116478968-1');
      </script>
      <meta charset="UTF-8">
      <style>
         .has-bg-img { background: url('https://image.ibb.co/fDXFiy/mine.png')center center; background-size:cover; }
         .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

      </style>
      <title> DJW </title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
   </head>
   <body>
      <section class="hero is-fullheight has-bg-img">
         <div class="hero-head">
         <nav class="navbar">
            <div class="container">
               <div class="navbar-brand">
                  <a href="#">
                  <img  class="navbar-item" src="https://image.ibb.co/m7RY3y/logo.png"  width="150" height="150">
                  </a>
                  <span class="navbar-burger burger" data-target="navbarMenu"  style=" color: hsl(348, 100%, 61%)">
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
               </div>
               <div  id="navbarMenu" class="navbar-menu">
                  <div class="navbar-item">
                     <% if current_user %>
                     <%= link_to '<button type="button" class="button is-warning is-outlined"><span class="icon">
                        <i class="fas fa-music"></i>
                        </span>  &nbsp My Playlists</button>'.html_safe, "/auth/google_oauth2", id: "sign_in" %>
                     <% end %>
                  </div>
                  <div class="navbar-end">
                     <div class="navbar-item">
                        <a class="button is-link is-outlined">
                        <span class="icon is-small">
                        <i class="fas fa-bell"></i>
                        </span>
                        &nbsp Contact us</a>
                     </div>
                     <div class="navbar-item">
                        <% if !current_user %>
                        <%= link_to '<button type="button" class="button is-danger is-outlined"><span class="icon">
                           <i class="fab fa-google"></i>
                           </span>  &nbsp Sign in</button>'.html_safe, "/auth/google_oauth2", id: "sign_in" %>
                        <% else %>
                        <%= link_to '<button type="button" class="button is-danger is-outlined">Sign out</button>'.html_safe, signout_path, id: "sign_out" %>
                        <% end %>
                     </div>
                     <div class="navbar-item">
                        <a class="button is-success is-outlined"  href="https://github.com/I-Mircheva/wonderbang-dj"><span class="icon">
                        <i class="fab fa-github"></i>
                        </span>
                        <span>&nbspGitHub</span></a>
                     </div>
                  </div>
               </div>
         </nav>
         <% if current_user %>
         <a class="button is-danger is-rounded" style="float: right; margin-right: 15px;">
         <p> Signed in as  <strong><%= current_user.name %></strong>!</p>
         <br>
         </a>
         <% end %>
         </div>
         <div class="hero-body">
            <div class="container has-text-centered">
               <div class="column is-6 is-offset-3">
                  <h1 class="title is-size-2-desktop has-text-white" style="padding-bottom: 20px">
                     Make your own playlist!
                  </h1>
                  <h2 class="subtitle has-text-white">
                     This is the best software platform for aggreagationing songs from different platforms in a single playlist. Come join us!
                  </h2>
               </div>
            </div>
         </div>
         <div style="padding: 100px; padding-top: 100px;">
            <a class="button is-primary is-outlined"style="position: absolute; float: center;" href="#information">
            <span class="icon is-small">
            <i class="fas fa-angle-double-down"></i>
            </span>
            &nbsp How to use</a>
         </div>
         <div class="hero-body" id="information">
         <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
               <h1 class="title is-size-2-desktop has-text-white" style="padding-bottom: 20px">
                  Welcome!
               </h1>
               <h2 class="subtitle has-text-white">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur semper blandit sapien a commodo. Vivamus a urna lorem. Nunc vitae velit neque. Aliquam luctus, ex a porttitor ultricies, ipsum elit convallis massa, id bibendum neque turpis quis lorem. Sed finibus elit nec libero pharetra malesuada. Fusce pulvinar, urna in blandit luctus, neque risus blandit orci, finibus rutrum magna ipsum id lectus. Integer commodo tortor sit amet condimentum rutrum. Sed eu nunc in neque sagittis dictum quis sit amet nisi. Pellentesque hendrerit arcu nunc, ut dapibus nibh blandit id. Nunc convallis imperdiet eros, eu euismod felis suscipit ac.
                  Aenean sed porta mi. Integer turpis nulla, consequat eu velit nec, viverra ullamcorper nisl. Etiam porttitor, ligula id vulputate eleifend, leo nisi scelerisque dolor, quis pellentesque sapien odio quis turpis. Vivamus cursus quam lacinia felis aliquet auctor ac vel ante. Integer eros arcu, placerat eu arcu a, dapibus luctus leo. Sed rhoncus felis sapien, quis venenatis magna scelerisque vel. Praesent molestie orci purus, sit amet eleifend dolor tempus ac.
                  Duis congue justo at nisi vehicula, et blandit justo ultricies. Sed dolor ligula, fermentum quis congue a, porttitor nec justo. Aenean lacinia lacus ac ante sollicitudin, sit amet tincidunt odio efficitur. Aenean vel vehicula. 
               </h2>
            </div>
         </div>
       </div>
         <div class="resp-container">
           <iframe  class="resp-iframe"src="https://www.youtube.com/embed/uMK0prafzw0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
         </div>
      </section>
      <script type="text/javascript">
         (function() {
           var burger = document.querySelector('.burger');
           var nav = document.querySelector('#'+burger.dataset.target);
           burger.addEventListener('click', function(){
             burger.classList.toggle('is-active');
             nav.classList.toggle('is-active');
           });
         })();
      </script>
   </body>
</html>

